*,
*::before,
*::after {
	user-select: none;
}

:root {
	--primary-color: rgb(212, 212, 212);
	--secondary-color: rgb(250, 250, 250);
}

body {
	margin: 0;
	overflow: hidden;
	background: var(--secondary-color);
}

a {
	cursor: pointer;
}

.index-body-content {
	bottom: 0;
	width: 100%;
	z-index: -1;
	margin-top: 25px;
	height: calc(100vh - 25px);
}

.register-panel {
	display: none;
}
