*,
*::before,
*::after {
	user-select: none;
}

:root {
	--primary-color: #2f2f2f;
	--secondary-color: #3da370;
}

body {
	margin: 0;
	overflow: hidden;
	background: var(--secondary-color);
}

.index-body-content {
	bottom: 0;
	width: 100%;
	z-index: -1;
	height: 575px;
	margin-top: 25px;
}
