@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital@1&display=swap");

@font-face {
	font-family: "Nasalization";
	src: url("../assets/nasalization-rg.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.right-side,
.minimize-btn,
.maximize-btn,
.close-btn,
.titlebar {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999999999999999;
}

.right-side,
.left-side {
	-webkit-app-region: no-drag;
}

.titlebar {
	top: 0;
	width: 100vw;
	height: 25px;
	position: fixed;
	overflow: hidden;
	-webkit-app-region: drag;
	justify-content: space-between;
	background: var(--primary-color);
}

.left-side p {
	margin-left: 5px;
	color: white;
	font-family: "Nasalization", sans-serif;
}

.minimize-btn,
.maximize-btn,
.close-btn {
	width: 25px;
	height: 25px;
	color: white;
	cursor: pointer;
}

.minimize-btn:hover,
.maximize-btn:hover {
	background: rgba(255, 255, 255, 0.3);
}

.close-btn:hover {
	font-weight: bold;
	background: red;
}

.minimize-btn,
.maximize-btn {
	width: 20px;
	padding-right: 3px;
	font-family: "Cantarell", sans-serif;
}

.close-btn {
	font-family: "Nunito", sans-serif;
}
