<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/add-account-panel.css">
</head>
<body>
    <div data-add-account-panel class="add-account-panel">
        <div class="add-account-box">
            <div class="add-account-content">

            </div>
            <div class="add-account-buttons">
                <button data-add-account-button class="add-account-button">Add account</button>
                <button data-panel-close-button class="panel-close-button">Close</button>
            </div>
        </div>
    </div>
</body>
</html>