<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/login-page.css">
    <script src="../js/login-page.js" defer></script>
</head>
<body>
    <%- include('./titlebar') %>

    <div class="login-page">
        <div class="login-page-img">
            <img class="main-image" src="../assets/logo.png">
        </div>
        <div class="login-page-title">Login</div>
        <div class="login-page-inputs">
            <div class="username-input input-div">
                <input type="text" name="username-input" id="username-input" class="input">
                <label data-username-input-label for="username-input" class="input-label">Username</label>
            </div>
            <div class="password-input input-div">
                <input type="password" name="password-input" id="password-input" class="input">
                <label data-password-input-label for="password-input" class="input-label">Password</label>
            </div>
        </div>
        <div class="login-page-button">
            <button data-login-button class="login-page-btn">Login</button>
        </div>
        <div class="offer-registration">
            <a href="./registration-page.ejs" class="offer-registration-link">Don't have an account?</a>
        </div>
    </div>
</body>
</html>