<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../js/login.js"></script>
</head>
<body>
    <form action="register">
        <input data-register-username type="text" placeholder="Username"></input>
        <input data-register-password type="password" placeholder="Password"></input>
        <input data-register-btn type="button" value="Register">
    </form>
    <form action="login">
        <input data-login-username type="text" placeholder="Username"></input>
        <input data-login-password type="password" placeholder="Password"></input>
        <input data-login-btn type="button" value="Login">
    </form>
</body>
</html>