<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../js/login.js" defer></script>
</head>
<body>
    <%- include("./titlebar"); %>

    <div class="login-title">Login</div>
    <div class="login-inputs">
        <div class="username-input">
            <input type="text" id="username" name="username">
            <label for="username">Username</label>
        </div>
        <div class="password-input">
            <input type="password" id="password" name="password">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="forgot-password"><a href="#">Forgot password?</a></div>
    <div class="login-button">
        <button>Login</button>
    </div>
    <div class="no-account"><a href="./register.ejs">Don't have an account? Register now!</a></div>
</body>
</html>