<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b20d558793.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/main-navigation.css">
    <script defer src="../js/main-navigation.js"></script>
    <script defer src="../js/add-account.js"></script>
</head>
<body>
    <%- include("./add-account-panel"); %>
    <div class="main-navigation">
        <div class="navigation-left-triangle"></div>
        <div class="navigation-content">
            <div data-open-add-account-panel-btn class="add-navigation">
                <i class="nav-icon fa-solid fa-plus"></i>
            </div>
            <div class="settings-navigation">
                <i class="nav-icon fa-solid fa-gear"></i>
            </div>
            <div data-sign-out-btn class="sign-out-navigation">
                <i class="nav-icon fa-solid fa-right-from-bracket"></i>
            </div>
        </div>
        <div class="navigation-right-triangle"></div>
    </div>
</body>
</html>