<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/register.css">
    <script defer src="../js/register.js"></script>
</head>
<body>
    <div data-error-blackbg class="error-blackbg">
        <div class="error-box">
            <div data-error-text>testing</div>
            <button data-error-close-button class="error-close-button">Got it!</button>
        </div>
    </div>
    <div data-register-page class="register-page">
        <div class="register-title">Register</div>
        <div class="register-inputs">
            <div class="r-username-input-div">
                <input data-register-username type="text" name="register-username-input" id="register-username-input" class="input" placeholder="Username">
            </div>
            <div class="r-password-input-div">
                <input data-register-password type="password" name="register-password-input" id="register-password-input" class="input" placeholder="Password">
            </div>
            <div class="r-confirm-password-input-div">
                <input data-register-confirm-password type="password" name="register-confirm-password-input" id="register-confirm-password-input" class="input" placeholder="Confirm Password">
            </div>
            <div class="r-email-input-div">
                <input data-register-email type="email" name="register-email-input" id="register-email-input" class="input" placeholder="Email">
            </div>
            <div class="register-button-div">
                <button data-register-btn class="register-button">Register</button>
            </div>
            <div class="have-account">
                <a data-have-account-link class="have-account-link">Have an account? Login now.</a>
            </div>
        </div>
    </div>
</body>
</html>