<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/titlebar.css">
    <script src="../js/titlebar.js" defer></script>
</head>
<body>
    <div class="titlebar">
        <div class="titlebar-left">
            <svg height="20" width="60">
                <text x="0" y="16" class="titlebar-app-title">AKAM</text>
            </svg>
        </div>
        <div class="titlebar-right">
            <div data-titlebar-minimize class="titlebar-minimize">
                <svg height="20" width="20">
                    <text x="4" y="16">-</text>
                </svg>
            </div>
            <div data-titlebar-close class="titlebar-close">
                <svg height="20" width="20">
                    <text x="5" y="15">X</text>
                </svg>
            </div>
        </div>
    </div>
</body>
</html>